html, body {
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
    font-variant-numeric: lining-nums;
}

input {
    font-variant-numeric: lining-nums;
    outline: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;;
}

.wrapper.modal-view--open .main-content{
    display: none;
}

.wrapper.modal-view--open .footer{
    display: block;
}

.link-to {
    color: #f3f2f2;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    text-decoration: underline;
    margin-top: 14px;
    display: block;
    cursor: pointer;
    transition: opacity 200ms ease-in-out;
    will-change: opacity;
}

.link-to:hover {
    opacity: .8;
}

.header, .footer {
    flex-shrink: 0;
}

.content {
    flex-grow: 1;
    margin: 15px auto;
    max-width: 400px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    min-width: 300px;
}

@media (min-width: 768px) {
    .container {
        max-width: 60%;
    }
}

.header {
    flex-shrink: 0;
    background: #fff;
    min-width: 319px;
}

.header__top {
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: inset 0 -1px 0 #dcdbda;
}

.header__bottom {
    padding-top: 8px;
    padding-bottom: 8px;
}

@media (min-width: 480px) {
    .header {
        padding-top: 10px;
    }
}

@media (min-width: 1200px) {
}

.main-logo {
    display: inline-flex;
    z-index: 1;
}

.expand-btn {
    border: none;
    width: 22px;
    height: 17px;
    background: transparent url("../images/icons/hamburger-icon.svg") center no-repeat;
    background-size: 22px 17px;
    cursor: pointer;
}

.expand-btn--active {
    background-image: url("../images/icons/close-icon.svg");
}

.feedback {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.feedback__text {
    color: #332e2e;
    font-size: 12px;
    font-weight: 500;
}

.feedback__item {
    line-height: 16px;
    transition: color 250ms ease-in-out;
    will-change: color;
}

.feedback__item_whatsapp:hover {
    color: #01e675;
}

.feedback__item_telegram:hover {
    color: #32afed;
}

.feedback__callback {
    font-size: 12px;
    position: relative;
    cursor: pointer;
    color: #dc1414;
}

.feedback__callback:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    background-image: url("../images/icons/Line.svg");
    width: 100%;
    height: 2px;
}

.feedback__icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: sub;
    background-size: 18px;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 250ms ease-in-out;
    will-change: background-image;
    opacity: 0;
    position: relative;
}

.feedback__item_whatsapp .feedback__icon {
    background-image: url("../images/icons/whatsapp.svg");
    animation-delay: 950ms;
}

.feedback__item_whatsapp:hover .feedback__icon {
    background-image: url("../images/icons/whatsapp_green.svg");
}

.feedback__item_telegram .feedback__icon {
    background-image: url("../images/icons/telegram.svg");
    animation-delay: 600ms;
}

.feedback__item_telegram:hover .feedback__icon {
    background-image: url("../images/icons/telegram_blue.svg");
}

.feedback__icon:after {
    content: "";
    background: #fff;
    height: 18px;
    opacity: 0.8;
    position: absolute;
    transform: rotate(
            35deg
    );
    transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    width: 3px;
    z-index: 1;
    animation-delay: 0.01s;
    animation-timing-function: ease-in-out;
    animation-name: radiance-icon;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.animate {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
}

.main-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px 16px;
    background-image: linear-gradient(to right, #ff52bd 0%, #ff425d 100%);
    border-radius: 8px;
}

.main-form h1 {
    color: #f3f2f2;
    font-size: 18px;
    line-height: 22px;
}

.form {
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
}

.form .input {
    height: 40px;
    width: 100%;
    padding: 0 16px 1px 45px;
    border-radius: 6px;
    border: none;
    background-color: #ffffff;
    color: #af52de;
    font-weight: 500;
    background-image: url(../images/icons/phone-icon.svg);
    background-position: left center;
    background-repeat: no-repeat;
}

.form__input-field {
    position: relative;
}

.form .input.error {
    border: 1px solid red;
}

.form .input:-webkit-autofill {
    text-align: center;
    padding-left: 0;
}

.form .input:autofill {
    text-align: center;
    padding-left: 0;
}

.form input::placeholder {
    color: #af52de;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: normal;
    line-height: 24px;
    text-align: left;
}

.form input:-ms-input-placeholder {
    color: #af52de;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: normal;
    line-height: 24px;
    text-align: left;
}

.form input::-ms-input-placeholder {
    color: #af52de;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: normal;
    line-height: 24px;
    text-align: left;
}

.form .btn {
    height: 40px;
    margin-top: 15px;
    border: none;
    width: 100%;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    background-color: #af52de;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    will-change: background-color, opacity;
    transition: background-color 200ms ease-in-out, opacity 200ms ease-in-out;
}

.form .btn:after {
    background: #fff;
    content: "";
    height: 9.6875rem;
    left: -4.6875rem;
    opacity: 0.2;
    position: absolute;
    top: -50px;
    transform: rotate(
            35deg
    );
    transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    width: 3.125rem;
    z-index: 1;
    animation-delay: 0.01s;
    animation-timing-function: ease-in-out;
    animation-name: radiance;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


.form .btn:hover {
    cursor: pointer;
    opacity: .8;
}

.form .btn:hover:after {
    left: 120%;
}

.modal-view {
    display: none;
    padding: .9rem;
    width: 100%;
    background: #fff;
    margin: 45px auto;
    max-width: 400px;
    position: relative;
}

.modal-view.modal-view--open {
    display: flex;
}

.modal-view .modal-view-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.modal-view .modal-view-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-view .modal-view-close {
    cursor: pointer;
}

.modal-view .modal-view-content h1 {
    color: #332e2e;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.2px;
    line-height: 30px;
    margin-bottom: 35px;
}

.footer {
    display: none;
    max-width: 400px;
    margin: 0 auto 8px;
    color: #736d6d;
    font-family: "Helvetica", sans-serif;
    font-size: 8px;
    letter-spacing: -0.2px;
}

.modal-view .form {
    margin-bottom: 20px;
}

.modal-view .form .input {
    height: 48px;
    border-radius: 6px;
    background-color: #ebebeb;
    color: #332e2e;
    font-weight: 500;
    background-image: url(../images/icons/phone-icon--gray.svg);
}

.modal-view .form input::placeholder {
    color: #332e22;
    font-weight: 400;
    font-size: 16px;
}

.modal-view .form input:-ms-input-placeholder {
    color: #332e22;
    font-weight: 400;
    font-size: 16px;
}

.modal-view .form input::-ms-input-placeholder {
    color: #332e22;
    font-weight: 400;
    font-size: 16px;
}

.modal-view .form .btn {
    height: 48px;
}

.modal-view .link-to {
    margin-top: 23px;
}

.success-block {
    width: 100%;
    margin: 90px 0;
    color: #2a2928;
}

.success-block p {
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 6px;
    line-height: 16px;
    opacity: .7;
    color: #302d33;
}

.success-block h1 {
    color: #302d33;
    font-size: 24px;
    font-weight: 800;
    line-height: 30px;
    margin-top: 13px;
    letter-spacing: -0.2px;
}

.error_wrapper {
    position: relative;
    width: 100%;
    max-width: 25.875rem;
}

.error_alert {
    font-size: 10px;
    text-transform: uppercase;
    color: red;
    position: absolute;
    z-index: 10;
    background-color: #fff;
    right: .5rem;
    top: -.4rem;
    padding: 3px;
    line-height: 8px;
    border-radius: 1px;
}

@media (min-width: 480px) {
    .success-block {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
}


.text-uppercase {
    text-transform: uppercase;
}

@keyframes float {
    0%,
    100% {
        transform: none;
    }
    33% {
        transform: translateY(-1px) rotate(-2deg);
    }
    66% {
        transform: translateY(1px) rotate(2deg);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes radiance {
    0% {
        left: -30px;
        margin-left: 0;
    }

    30% {
        left: 110%;
        margin-left: 80px;
    }

    100% {
        left: 110%;
        margin-left: 80px;
    }
}

@keyframes radiance-icon {
    0% {
        left: -10px;
    }

    90% {
        opacity: .7;
    }

    100% {
        left: 88%;
        opacity: 0.2;
        transform: rotate(10deg);
    }
}