html, body {
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
    font-variant-numeric: lining-nums;
}

input {
    font-variant-numeric: lining-nums;
    outline: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;;
}

.link-to {
    display: block;
    font-family: 'Manrope', sans-serif;
    color: #faf9f8;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: -0.3px;
    text-decoration: underline;
    margin-top: 24px;
    margin-bottom: 14px;
    cursor: pointer;
    transition: opacity 200ms ease-in-out;
    will-change: opacity;
}

.link-to:hover {
    opacity: .8;
}

.content {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    flex-grow: 1;
    width: 100%;
    margin: 0 auto;
    max-width: 480px;
    min-width: 300px;
    background-image: url('../images/main-bg.png');
    background-size: cover;
    position: relative;
    padding: 0 15px;
}

.content--no-bg {
    background: none;
}

.content__inner {
    flex-grow: 1;
}

.content h4 {
    color: #f3f2f2;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 8px;
    text-transform: uppercase;
    margin-top: 24px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    min-width: 300px;
}

@media (min-width: 768px) {
    .container {
        max-width: 700px;
    }
}

.header {
    flex-shrink: 0;
    background: #fff;
    min-width: 319px;
}

.header__top {
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: inset 0 -1px 0 #dcdbda;
}

.header__bottom {
    padding-top: 8px;
    padding-bottom: 8px;
}

@media (min-width: 480px) {
    .header {
        padding-top: 10px;
    }
}

@media (min-width: 1200px) {
}

.main-logo {
    display: inline-flex;
    z-index: 1;
}

.feedback {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.feedback__text {
    color: #332e2e;
    font-size: 12px;
    font-weight: 500;
}

.feedback__item {
    line-height: 16px;
    transition: color 250ms ease-in-out;
    will-change: color;
}

.feedback__item_whatsapp:hover {
    color: #01e675;
}

.feedback__item_telegram:hover {
    color: #32afed;
}

.feedback__callback {
    font-size: 12px;
    position: relative;
    cursor: pointer;
    color: #dc1414;
}

.feedback__callback:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    background-image: url("../images/icons/Line.svg");
    width: 100%;
    height: 2px;
}

.feedback__icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: sub;
    background-size: 18px;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 250ms ease-in-out;
    will-change: background-image;
    opacity: 0;
    position: relative;
}

.feedback__item_whatsapp .feedback__icon {
    background-image: url("../images/icons/whatsapp.svg");
    animation-delay: 950ms;
}

.feedback__item_whatsapp:hover .feedback__icon {
    background-image: url("../images/icons/whatsapp_green.svg");
}

.feedback__item_telegram .feedback__icon {
    background-image: url("../images/icons/telegram.svg");
    animation-delay: 600ms;
}

.feedback__item_telegram:hover .feedback__icon {
    background-image: url("../images/icons/telegram_blue.svg");
}

.feedback__icon:after {
    content: "";
    background: #fff;
    height: 18px;
    opacity: 0.8;
    position: absolute;
    transform: rotate(
            35deg
    );
    transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    width: 3px;
    z-index: 1;
    animation-delay: 0.01s;
    animation-timing-function: ease-in-out;
    animation-name: radiance-icon;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.animate {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
}

.main-form {
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #f3f2f2;
}

.main-form h1 {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -0.4px;
    line-height: 44px;
}

.main-form h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}

.main-form h5 {
    width: 97%;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 16px;
}

.form {
    width: 100%;
    margin-top: 20px;
    font-family: 'Lato', sans-serif;
}

.form .input {
    color: #b3adad;
    height: 56px;
    width: 100%;
    padding: 0 0 1px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #f3f2f2;
    border-radius: 4px;
}

.form__input-field {
    position: relative;
}

.form .input.error {
    border-bottom-color: red;
}

.form .input:-webkit-autofill {
    text-align: center;
    padding-left: 0;
}

.form .input:autofill {
    text-align: center;
    padding-left: 0;
}

.form input::placeholder {
    color: #b3adad;
    font-size: 18px;
    letter-spacing: normal;
    line-height: 24px;
    text-align: left;
}

.form input:-ms-input-placeholder {
    color: #b3adad;
    font-size: 18px;
    letter-spacing: normal;
    line-height: 24px;
    text-align: left;
}

.form input::-ms-input-placeholder {
    color: #b3adad;
    font-size: 18px;
    letter-spacing: normal;
    line-height: 24px;
    text-align: left;
}

.form .btn {
    height: 56px;
    margin-top: 15px;
    border: none;
    width: 100%;
    color: #fff;
    font-size: 18px;
    background-color: #d91646;
    letter-spacing: -0.4px;
    border-radius: 1px;
    position: relative;
    overflow: hidden;
    will-change: background-color, opacity;
    transition: background-color 200ms ease-in-out, opacity 200ms ease-in-out;
}

.form .btn:after {
    background: #fff;
    content: "";
    height: 9.6875rem;
    left: -4.6875rem;
    opacity: 0.2;
    position: absolute;
    top: -50px;
    transform: rotate(
            35deg
    );
    transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    width: 3.125rem;
    z-index: 1;
    animation-delay: 0.01s;
    animation-timing-function: ease-in-out;
    animation-name: radiance;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.form .btn:hover {
    cursor: pointer;
    opacity: .8;
}

.form .btn:hover:after {
    left: 120%;
}

.form__btn-close {
    display: inline-block;
    color: #736d6d;
    font-size: 16px;
    letter-spacing: -0.3px;
    line-height: 24px;
    text-decoration: underline;
    margin-top: 24px;
}

.modal-view {
    display: none;
    padding: .9rem;
    width: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.modal-view.modal-view--open {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-view .modal-view-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-grow: 1;
}

.modal-view .modal-view-close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

.modal-view .modal-view-content h1 {
    color: #332e2e;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.2px;
    line-height: 30px;
    margin-bottom: 35px;
}

.modal-view .form {
    max-width: 480px;
    margin-bottom: 20px;
    text-align: center;
}

.modal-view .form .input {
    height: 56px;
    color: #282727;
    text-align: center;
}

.modal-view .form input::placeholder {
    color: #b3adad;
    font-size: 18px;
    text-align: center;
}

.modal-view .form input:-ms-input-placeholder {
    color: #b3adad;
    font-size: 18px;
    text-align: center;
}

.modal-view .form input::-ms-input-placeholder {
    color: #b3adad;
    font-size: 18px;
    text-align: center;
}

.modal-view .link-to {
    margin-top: 23px;
}

.success-block {
    width: 100%;
    margin: 90px 0;
    color: #2a2928;
    text-align: center;
}

.success-block p {
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 6px;
    line-height: 16px;
    opacity: .7;
    color: #302d33;
}

.success-block h1 {
    color: #302d33;
    font-size: 24px;
    font-weight: 800;
    line-height: 30px;
    margin-top: 13px;
    letter-spacing: -0.2px;
}

.footer {
    flex-shrink: 0;
    max-width: 480px;
    margin: 8px auto;
    color: #b3adad;
    font-family: "Helvetica", sans-serif;
    font-size: 8px;
    letter-spacing: -0.2px;
}

.error_wrapper {
    position: relative;
    width: 100%;
    max-width: 25.875rem;
}

.error_alert {
    font-size: 10px;
    text-transform: uppercase;
    color: red;
    position: absolute;
    z-index: 10;
    background-color: #fff;
    right: .5rem;
    top: -.4rem;
    padding: 3px;
    line-height: 8px;
    border-radius: 1px;
}


.text-uppercase {
    text-transform: uppercase;
}

@keyframes float {
    0%,
    100% {
        transform: none;
    }
    33% {
        transform: translateY(-1px) rotate(-2deg);
    }
    66% {
        transform: translateY(1px) rotate(2deg);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes radiance {
    0% {
        left: -30px;
        margin-left: 0;
    }

    30% {
        left: 110%;
        margin-left: 80px;
    }

    100% {
        left: 110%;
        margin-left: 80px;
    }
}

@keyframes radiance-icon {
    0% {
        left: -10px;
    }

    90% {
        opacity: .7;
    }

    100% {
        left: 88%;
        opacity: 0.2;
        transform: rotate(10deg);
    }
}